/* DUEL V4 */
@font-face {
  font-family: 'ATC Duel';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V4.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V4.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V4.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
}

/* DUEL V8 */
@font-face {
  font-family: 'ATC Duel';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V8Sharp.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V8Sharp.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCDuel-V8Sharp.woff2') format('woff'); /* Pretty Modern Browsers */
	font-weight: 800;
}

/* TIMBERLINE */
@font-face {
  font-family: 'ATC Timberline';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Medium.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Medium.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 500;
}

@font-face {
  font-family: 'ATC Timberline';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCTimberline-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
}

/* KRUEGER */
@font-face {
  font-family: 'ATC Krueger';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCKrueger-Bold.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCKrueger-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
}

/* RIPLEY */
@font-face {
  font-family: 'ATC Ripley';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRipley-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRipley-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRipley-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
}

/* ROSEMARY */
@font-face {
  font-family: 'ATC Rosemary';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRosemary-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRosemary-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCRosemary-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
}

/* OVERLOOK */
@font-face {
  font-family: 'ATC Overlook';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCOverlook-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCOverlook-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/80729/ATCOverlook-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
}